# SPDX-License-Identifier: MIT
name: Java build

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2.3.4
    - name: Set up JDK 1.8
      uses: actions/setup-java@v2.3.0
      with:
        distribution: adopt
        java-version: 8
    - name: "Build plugin"
      run: ./gradlew buildPlugin
    - name: "Documentations"
      run: ./gradlew asciidoc

